<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notifications">
      <fa-icon [icon]="faBell" size="2x"> </fa-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calendars">
      <fa-icon [icon]="faCalendar" size="2x"> </fa-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <fa-icon [icon]="faComment" size="2x"> </fa-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
